
body {
    margin: 0;
    background: linear-gradient(112deg, #111 11%, #222 80%);
    color: #fff;
    font-family: "Montserrat";
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("$lib/Montserrat.ttf");
}
