
body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: "Montserrat";
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("$lib/Montserrat.ttf");
}
